<div mat-dialog-content>

    <div class="row">
        <form class="form-inline" [formGroup]="viewProfile">

            <div class="col-sm-6">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder=" Enter First Name" formControlName="firstname" maxlength="20">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Enter Last Name" formControlName="lastname" maxlength="20">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Enter Phone Number" formControlName="phone" maxlength="13">
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter Email" formControlName="email" maxlength="20">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>

<mat-dialog-actions>
    <div class="navbar-nav ml-auto">
        <span>
            <button class="btn btn-success" type="submit" matTooltip="Ok" (click)="onOkClick($event)">
                Ok</button>
        </span>
    </div>
</mat-dialog-actions>