<div mat-dialog-content>

    <div class="row">

        <form class="form-inline" [formGroup]="viewProfile">

            <div class="col-sm-6">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" formControlName="firstname" maxlength="20" readonly="true">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" formControlName="lastname" maxlength="20" readonly="true">
                    <mat-icon matSuffix>person_pin</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Account Number</mat-label>
                    <input matInput placeholder="Account Number" formControlName="accountNumber" maxlength="20"
                        readonly="true">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Account Type</mat-label>
                    <input matInput placeholder="Account Type" formControlName="accountType" maxlength="20"
                        readonly="true">
                    <mat-icon matSuffix>account_tree</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Bank Name</mat-label>
                    <input matInput placeholder="Bank Name" formControlName="bankName" maxlength="20" readonly="true">
                    <mat-icon matSuffix>account_balance</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Enter Phone Number" formControlName="phone" maxlength="13"
                        readonly="true">
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter Email" formControlName="email" maxlength="25" readonly="true">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Account Holder Name</mat-label>
                    <input matInput placeholder="Account Holder Name" formControlName="holderName" maxlength="20"
                        readonly="true">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Branch Name</mat-label>
                    <input matInput placeholder="Branch Name" formControlName="branchName" maxlength="20"
                        readonly="true">
                    <mat-icon matSuffix>account_box</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Tax Number</mat-label>
                    <input matInput placeholder="Tax Number" formControlName="taxNumber" maxlength="20" readonly="true">
                    <mat-icon matSuffix>accessibility</mat-icon>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>

<mat-dialog-actions>
    <div class="navbar-nav ml-auto">
        <span>
            <button class="btn btn-success" type="submit" matTooltip="Ok" (click)="onOkClick()">
                Close</button>
        </span>
    </div>
</mat-dialog-actions>