<div mat-dialog-content>

  <div class="row">
    <div class="col-sm-3">
      <form [formGroup]="fileFor">
        <div class="text-left">
          <img src="../assets/images/avtar.png" class="avatar img-circle img-thumbnail" alt="avatar" *ngIf="!imgURL">
          <!-- <img [src]="imgURL" class="avatar img-circle img-thumbnail" alt="name" *ngIf="imgURL"> -->

        </div>

        <hr />
        <div class="text-left">
          <img src="../assets/images/avtar.png" class="avatar img-circle img-thumbnail" alt="avatar">

        </div>
      </form>
    </div>

    <div class="col-sm-9">
      <form class="form-inline" [formGroup]="newUserForm">
        <div class="col-sm-6">

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">First Name</mat-label>
            <input matInput placeholder=" Enter First Name" formControlName="firstname" maxlength="20"
              style="font-weight: bold">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Last Name</mat-label>
            <input matInput placeholder="Enter Last Name" formControlName="lastname" maxlength="20"
              style="font-weight: bold">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Phone Number</mat-label>
            <input matInput placeholder="Enter Phone Number" formControlName="phone" maxlength="10"
              (keypress)="numberOnly($event)" style="font-weight: bold">
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Email</mat-label>
            <input matInput placeholder="Enter Email" formControlName="email" maxlength="20" style="font-weight: bold">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>


        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Address</mat-label>
            <textarea matInput placeholder="Enter Address" formControlName="address" maxlength="50"
              style="font-weight: bold"></textarea>
            <mat-icon matSuffix>apartment</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">City</mat-label>
            <input matInput placeholder="Enter City" formControlName="city" maxlength="20" style="font-weight: bold">
            <mat-icon matSuffix>location_city</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Region</mat-label>
            <input matInput placeholder="Enter Region" formControlName="region" maxlength="20"
              style="font-weight: bold">
            <mat-icon matSuffix>location_city</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Date Of Birth</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Date Of Birth" formControlName="dob" [readonly]="true"
              style="font-weight: bold">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>


        </div>

      </form>
    </div>
  </div>
</div>
<mat-dialog-actions>