<div mat-dialog-content>

  <div class="row">
    <div class="col-sm-3">
      <hr />
      <div class="text-left">
        <mat-slide-toggle color="Primary" [checked]="this.isActive" [disabled]="true" labelPosition="before"
          matTooltip="Active Customer">
          Active Customer :
        </mat-slide-toggle>

      </div>
      <div class="text-left">
        <img [src]="this.imagePath" class="avatar img-circle img-thumbnail" alt="avatar" *ngIf="imagePath">
        <!-- <img src="../assets/images/avtar.png" class="avatar img-circle img-thumbnail" alt="avatar" *ngIf="!imagePath"> -->
      </div>

    </div>
    <hr />
    <div class="col-sm-9">
      <form class="form-inline" [formGroup]="newUserForm">
        <div class="col-sm-6">

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">First Name</mat-label>
            <input matInput placeholder=" Enter First Name" formControlName="firstname" maxlength="20"
              style="font-weight: bold" readonly>
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Last Name</mat-label>
            <input matInput placeholder="Enter Last Name" formControlName="lastname" maxlength="20"
              style="font-weight: bold" readonly>
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Phone Number</mat-label>
            <input matInput placeholder="Enter Phone Number" formControlName="phone" maxlength="10"
              (keypress)="numberOnly($event)" style="font-weight: bold" readonly>
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>




        </div>
        <div class="col-sm-6">

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Email</mat-label>
            <input matInput placeholder="Enter Email" formControlName="email" readonly maxlength="20"
              style="font-weight: bold">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Gender</mat-label>
            <input matInput placeholder="Enter Region" formControlName="gender" maxlength="20" style="font-weight: bold"
              readonly>
            <mat-icon matSuffix>location_city</mat-icon>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
</div>
<mat-dialog-actions>
    <div class="navbar-nav ml-auto">
      <span>
          <button class="btn btn-success" type="submit" matTooltip="Close" (click)="CloseCustomer()" >
              Close</button>
      </span>
    </div>
  </mat-dialog-actions>