<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Save Water</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Water is often considered to be one of the most important resources our planet has,
                        and rightly so. Although people don’t need to be surrounded by water all the time,
                        we shouldn’t forget that a human being can survive without food for about several weeks,
                        but without water, he would die in a matter of days.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Save Water</h4>
                </div>
                <div class="timeline-body">
                    <p>Water is often considered to be one of the most important resources our planet has,
                        and rightly so. Although people don’t need to be surrounded by water all the time,
                        we shouldn’t forget that a human being can survive without food for about several weeks,
                        but without water, he would die in a matter of days.</p>
                    <p>Water is often considered to be one of the most important resources our planet has,
                        and rightly so. Although people don’t need to be surrounded by water all the time,
                        we shouldn’t forget that a human being can survive without food for about several weeks,
                        but without water, he would die in a matter of days.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Save Water</h4>
                </div>
                <div class="timeline-body">
                    <p>Water is often considered to be one of the most important resources our planet has,
                        and rightly so. Although people don’t need to be surrounded by water all the time,
                        we shouldn’t forget that a human being can survive without food for about several weeks,
                        but without water, he would die in a matter of days.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Save Water</h4>
                </div>
                <div class="timeline-body">
                    <p>Water is often considered to be one of the most important resources our planet has,
                        and rightly so. Although people don’t need to be surrounded by water all the time,
                        we shouldn’t forget that a human being can survive without food for about several weeks,
                        but without water, he would die in a matter of days.</p>
                </div>
            </div>
        </li>

        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Save Water</h4>
                </div>
                <div class="timeline-body">
                    <p>Water is often considered to be one of the most important resources our planet has,
                        and rightly so. Although people don’t need to be surrounded by water all the time,
                        we shouldn’t forget that a human being can survive without food for about several weeks,
                        but without water, he would die in a matter of days.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Save Water</h4>
                </div>
                <div class="timeline-body">
                    <p>Water is often considered to be one of the most important resources our planet has,
                        and rightly so. Although people don’t need to be surrounded by water all the time,
                        we shouldn’t forget that a human being can survive without food for about several weeks,
                        but without water, he would die in a matter of days.</p>
                </div>
            </div>
        </li>
    </ul>
</div>