<div class="overlay1" *ngIf="visible">
  <span class="spinner">
    <mat-progress-spinner mode="indeterminate" value=30></mat-progress-spinner>
  </span>
</div>
<div [@routerTransition]>
  <app-page-header [heading]="'Vendor'" [icon]="'fa-user'"></app-page-header>
  <div class="row">

    <div class="col-md-12">
      <mat-toolbar>
        <mat-toolbar-row>

          <span class="example-spacer"></span>
          <div class="main">
            <div class="form-group has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search" (keyup)="applyFilter($event.target.value)"
                matTooltip="Search">
            </div>
          </div>
          <button mat-icon-button color="primary" aria-label="Add new User" matTooltip="Add new User">
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="add()">add_box</mat-icon>
          </button>


        </mat-toolbar-row>
      </mat-toolbar>

      <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Position Column -->
          <ng-container matColumnDef="firstname">
            <th class="columnWidth" mat-header-cell *matHeaderCellDef mat-sort-header> FIRST NAME </th>
            <td class="columnWidth" mat-cell *matCellDef="let element">
              <a href="javascript:void(0)" (click)="onIndidualVendor($event,element)">{{element.firstname}} </a> </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="companyname">
            <th class="columnWidth" mat-header-cell *matHeaderCellDef mat-sort-header> COMPANY NAME </th>
            <td class="columnWidth" mat-cell *matCellDef="let element"> {{element.companyname}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="uid">
            <th class="columnWidth" mat-header-cell *matHeaderCellDef mat-sort-header> USER ID </th>
            <td class="columnWidth" mat-cell *matCellDef="let element"> {{element.uid}} </td>
          </ng-container>

          <!-- Name Column -->
          <!-- <ng-container matColumnDef="email">
            <th class="columnWidth" mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL </th>
            <td class="columnWidth" mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container> -->

          <!-- Weight Column -->
          <ng-container matColumnDef="ph">
            <th class="columnWidth" mat-header-cell *matHeaderCellDef mat-sort-header> PH NO. </th>
            <td class="columnWidth" mat-cell *matCellDef="let element"> {{element.ph}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="region">
            <th class="columnWidth" mat-header-cell *matHeaderCellDef mat-sort-header> REGION </th>
            <td class="columnWidth" mat-cell *matCellDef="let element"> {{element.region}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="actions">
            <th class="columnWidth" mat-header-cell *matHeaderCellDef> ACTION </th>
            <td class="columnWidth" mat-cell *matCellDef="let element">

              <mat-icon class="curserAction" color="primary" aria-hidden="false" aria-label="edit"
                (click)="edit(element)">edit
              </mat-icon>
              <mat-icon class="curserAction" color="warn" aria-hidden="false" aria-label="delete icon"
                (click)="remove(element)">delete
              </mat-icon>
              <mat-icon class="curserAction" color="primary" aria-hidden="false" aria-label="display"
                (click)="display(element)">
                keyboard_arrow_right</mat-icon>
              <mat-icon color="primary" class="curserAction" aria-hidden="false" aria-label="Product"
                (click)="product(element)">
                local_grocery_store</mat-icon>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[7, 10, 15]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>