<div class="overlay1" *ngIf="visible1">
    <span class="spinner">
        <mat-progress-spinner mode="indeterminate" value=30></mat-progress-spinner>
    </span>
</div>
<div>
    <mat-slide-toggle color="primary" [checked]="this.view" (change)="toggeleChangeView($event)" labelPosition="before"
        matTooltip={{this.sliderName}} class="text-left">
        {{this.sliderName}}
    </mat-slide-toggle>
    <span class="space"> </span>
    <span class="text-right"> Total Product Count : {{this.count}}</span>
</div>
<hr />

<div mat-dialog-content>
    <div class="row">
        <div class="col-sm-3" *ngIf="this.view">
            <form>

                <div class="text-left">
                    <mat-slide-toggle color="Primary" [checked]="this.Active" (change)="toggeleActive()"
                        labelPosition="before" matTooltip="Active" *ngIf="this.isAdmin">
                        Active
                    </mat-slide-toggle>
                    <hr />

                    <img src="../assets/images/avtar.png" class="avatar img-circle img-thumbnail" alt="avatar"
                        *ngIf="!imgProductUrl" height="150" width="150">
                    <img [src]="imgProductUrl" class="avatar img-circle img-thumbnail" alt="name" *ngIf="imgProductUrl">
                    <h6 *ngIf="!imgProductUrl">Upload Product Photo...</h6>
                    <input type="file" #file class="text-left left-block file-upload fileuploader" accept='image/*'
                        (change)="preview(file.files)" [disabled]="!this.view" *ngIf="this.view">
                    <span class="errorFile" *ngIf="filevalid"> Please Choose File</span>
                </div>

            </form>
        </div>
        <div class="col-sm-9" *ngIf="this.view">
            <form class="form-inline" [formGroup]="productForm">
                <div class="col-sm-6">

                    <mat-form-field appearance="outline">
                        <mat-label class="fontBold">Product Name</mat-label>
                        <input matInput placeholder=" Enter Product Name" formControlName="name" maxlength="20"
                            class="fontBold">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label class="fontBold">Product Code</mat-label>
                        <input matInput placeholder="Enter Product Code" formControlName="code" maxlength="20"
                            class="fontBold" (keypress)="validateProductCode($event)">
                        <mat-icon matSuffix>person_pin</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label class="fontBold">Product Description</mat-label>
                        <input matInput placeholder="Enter Product Description" formControlName="description"
                            maxlength="100" class="fontBold">
                        <mat-icon matSuffix>person_pin</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label class="fontBold">Type</mat-label>
                        <mat-select formControlName="type" placeholder="Enter type" class="fontBold">
                            <mat-option *ngFor="let val of productType" [value]="val.type">
                                {{val.type}}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix>account_tree</mat-icon>
                    </mat-form-field>



                </div>
                <div class="col-sm-6">

                    <mat-form-field appearance="outline">
                        <mat-label class="fontBold">Capacity</mat-label>
                        <input matInput placeholder="Enter Capacity" formControlName="capacity" maxlength="6"
                            class="fontBold" type="number">
                        <mat-icon matSuffix>pages</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label class="fontBold">Price</mat-label>
                        <input matInput placeholder="Enter Price" formControlName="price" maxlength="5" class="fontBold"
                            type="number">
                        <mat-icon matSuffix>account_tree</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label class="fontBold">With Can Price</mat-label>
                        <input matInput placeholder="Enter With Can Price" formControlName="withCanePrice" maxlength="8"
                            class="fontBold" type="number">
                        <mat-icon matSuffix>account_tree</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label class="fontBold">Cost</mat-label>
                        <input matInput placeholder="Enter Cost" formControlName="cost" maxlength="8" class="fontBold"
                            type="number">
                        <mat-icon matSuffix>account_tree</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label class="fontBold">With Can Cost</mat-label>
                        <input matInput placeholder="Enter With Can Cost" formControlName="withCaneCost" maxlength="8"
                            class="fontBold" type="number">
                        <mat-icon matSuffix>account_tree</mat-icon>
                    </mat-form-field>

                </div>
            </form>
        </div>
        <!-- 
        <div class="row mt-2 mb-3 ml-3 mr-3" *ngIf="!this.view">
            <div class="col-sm-3 border" *ngFor="let val of this.productList">

                <h6 class="jtext-center" > {{val.name}}({{val.code}}) </h6>
                <div class="imgDiv" >
                    <img src="{{val.media}}" alt="Name" class="avatar img-circle img-thumbnail img">
                </div>
                <p  style="word-wrap: unset;">
                    {{val.description}}
                </p>
                <p style="font-size: 12px;" >
                    Qty :{{val.capacity}}<br />

                    Rate :{{val.price}}<br />
                    Type :{{val.type}}<br />

                    Cost :{{val.cost}}<br />
                    With Can Price :{{val.withCanePrice}}<br />
                    With Can Cost :{{val.withCaneCost}}<br />
                </p>
                <div >
                    <button mat-button color="primary" class="jtext-left">
                        <mat-icon (click)="editProduct(val)">edit</mat-icon>
                    </button>
                    <span class="space"></span>
                    <button mat-button color="primary" class="jtext-right">
                        <mat-icon (click)="deleteProduct(val)">delete</mat-icon>
                    </button>
                </div> -->
        <!-- <a href="javascript:void(0)" (click)="addProduct()">
                    <div *ngIf="val.isNew" class="addNewProduct" matRipple [matRippleCentered]="true"
                        [matRippleDisabled]="false" [matRippleUnbounded]="false" [matRippleColor]="color">
                        Add More
                    </div>
                </a> -->
        <!-- </div>
        </div> -->
        <div class="row" *ngIf="!this.view">
            <div class="col-sm-4" *ngFor="let val of this.productList">
                <div class="card text-white bg-info mb-3">
                    <div class="card-header">{{val.name}}({{val.code}})</div>
                    <div class="imgDiv">
                        <img src="{{val.media}}" alt="Name" class="img-thumbnail img">
                    </div>
                    <div class="card-body">
                        <p style="word-wrap: unset;">
                            {{val.description}}
                        </p>
                        <div class="row">
                            <div class="col-sm-6 jtext-small">
                                Qty :{{val.capacity}}
                            </div>
                            <div class="col-sm-6 jtext-small">
                                Rate :{{val.price}}
                            </div>
                            <div class="col-sm-6 jtext-small">
                                Type :{{val.type}}
                            </div>
                            <div class="col-sm-6 jtext-small">
                                Cost :{{val.cost}}
                            </div>
                            <div class="col-sm-6 jtext-small">
                                With Can Price :{{val.withCanePrice}}
                            </div>
                            <div class="col-sm-6 jtext-small">
                                With Can Cost :{{val.withCaneCost}}
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <button mat-button color="primary" class="col text-left" (click)="editProduct(val)">
                            Edit
                        </button>

                        <button mat-button color="primary" class="col text-right" (click)="deleteProduct(val)">Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<mat-dialog-actions *ngIf=" this.view">
    <div class="navbar-nav ml-auto">
        <span>
            <button class="btn btn-success" type="submit" matTooltip="Save" (click)="createProduct()">
                Save</button> &nbsp; &nbsp;
            <button class="btn btn-success" type="submit" matTooltip="Save" (click)="CancelProduct()">
                Cancel</button> &nbsp; &nbsp;
        </span>
    </div>
</mat-dialog-actions>