<div mat-dialog-content>
  <mat-horizontal-stepper [linear]="this.displayInd" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Contact Details</ng-template>
        <div class="row">
          <div class="col-sm-3">
            <mat-checkbox formControlName="isDeliveryPartner">Delivery Partner</mat-checkbox>
            <mat-checkbox formControlName="isRetailer">Retailer</mat-checkbox>
            <mat-checkbox formControlName="isActive">Active</mat-checkbox>
            <div class="text-left">
              <img [src]="imgURL" class="avatar img-circle img-thumbnail img" alt="name">
              <input type="file" #file class="text-left left-block file-upload" accept='image/*'
                (change)="preview(file.files)" style="width:95%">
              <span style="color:red" *ngIf="filevalid"> Please Choose File</span>
            </div>
            <hr />
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Title</mat-label>
              <mat-select formControlName="title" placeholder="Choose Title" class="fontBold">
                <mat-option *ngFor="let val of titleCollection" [value]="val.title">
                  {{val.title}}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>subtitles</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">First Name</mat-label>
              <input matInput placeholder=" Enter First Name" formControlName="firstname" maxlength="20"
                class="fontBold">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Last Name</mat-label>
              <input matInput placeholder="Enter Last Name" formControlName="lastname" maxlength="20" class="fontBold">
              <mat-icon matSuffix>person_pin</mat-icon>
            </mat-form-field>

          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Phone Number</mat-label>

              <input matInput placeholder="Enter Phone Number" formControlName="phone" maxlength="13"
                (keypress)="numberOnly($event)" class="fontBold">
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Email</mat-label>
              <input matInput placeholder="Enter Email" formControlName="email" maxlength="25" class="fontBold">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Blood Group</mat-label>
              <input matInput placeholder="Enter Blood Group" formControlName="bloodGroup" maxlength="3"
                class="fontBold">
              <mat-icon matSuffix>person_pin</mat-icon>
            </mat-form-field>

            <div>
              <button mat-raised-button color="accent" (click)="goForward(stepper)"
                *ngIf="this.displayInd">Next</button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Permanent Address</ng-template>
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Flat Number</mat-label>
              <input matInput placeholder="Enter Flat Number" formControlName="PflatNumber" maxlength="15"
                class="fontBold">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Street</mat-label>
              <input matInput placeholder="Enter Street" formControlName="Pstreet" maxlength="25" class="fontBold">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Land Mark</mat-label>
              <input matInput placeholder="Enter Land Mark" formControlName="PlandMark" maxlength="25" class="fontBold">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">City</mat-label>
              <input matInput placeholder="Enter City" formControlName="Pcity" maxlength="20" class="fontBold">
              <mat-icon matSuffix>location_city</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">State</mat-label>
              <input matInput placeholder="Enter State" formControlName="Pstate" maxlength="25" class="fontBold">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Country</mat-label>
              <input matInput placeholder="Enter Country" formControlName="Pcountry" maxlength="25" class="fontBold">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Postal Code</mat-label>
              <input matInput placeholder="Enter Postal Code" formControlName="PpostalCode" maxlength="6"
                class="fontBold" (keypress)="numberOnly($event)">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <!-- <div class="row"> -->
        <div>
          <button mat-raised-button color="accent" matStepperPrevious *ngIf="this.displayInd">Back</button>
          <button mat-raised-button color="accent" matStepperNext *ngIf="this.displayInd">Next</button>
          <!-- <span class="space"></span> -->
          <mat-checkbox class="space" *ngIf="secondFormGroup.valid" (change)="copyPermanent($event)">Copy Permanet address
          </mat-checkbox>
        </div>

        <!-- </div> -->
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Current Address</ng-template>
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Flat Number</mat-label>
              <input matInput placeholder="Enter Flat Number" formControlName="CflatNumber" maxlength="25"
                class="fontBold">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Street</mat-label>
              <input matInput placeholder="Enter Street" formControlName="Cstreet" maxlength="25" class="fontBold">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Land Mark</mat-label>
              <input matInput placeholder="Enter Land Mark" formControlName="ClandMark" maxlength="25" class="fontBold">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">City</mat-label>
              <input matInput placeholder="Enter City" formControlName="Ccity" maxlength="20" class="fontBold">
              <mat-icon matSuffix>location_city</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">State</mat-label>
              <input matInput placeholder="Enter State" formControlName="Cstate" maxlength="25" class="fontBold">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Country</mat-label>
              <input matInput placeholder="Enter Country" formControlName="Ccountry" maxlength="25" class="fontBold">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Postal Code</mat-label>
              <input matInput placeholder="Enter Postal Code" formControlName="CpostalCode" maxlength="6"
                class="fontBold" (keypress)="numberOnly($event)">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious *ngIf="this.displayInd">Back</button>
          <button mat-raised-button color="accent" matStepperNext *ngIf="this.displayInd">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Bank Details</ng-template>
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Account Number</mat-label>
              <input matInput placeholder="Enter Account Number" formControlName="accountNumber" maxlength="13"
                class="fontBold" (keypress)="numberOnly($event)">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Account Type</mat-label>
              <input matInput placeholder="Enter Account Type" formControlName="accountType" maxlength="10"
                class="fontBold">
              <mat-icon matSuffix>account_tree</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Bank Name</mat-label>
              <input matInput placeholder="Enter Bank Name" formControlName="bankName" maxlength="20" class="fontBold">
              <mat-icon matSuffix>account_balance</mat-icon>
            </mat-form-field>

          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Branch Name</mat-label>
              <input matInput placeholder="Enter Branch Name" formControlName="branchName" maxlength="20"
                class="fontBold">
              <mat-icon matSuffix>account_box</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Account Holder Name</mat-label>
              <input matInput placeholder="Enter Account Holder Name" formControlName="holderName" maxlength="20"
                class="fontBold">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Related Vendor</mat-label>
              <mat-select formControlName="relatedVendor" placeholder="Choose Related Vendor" class="fontBold" multiple>
                <mat-option *ngFor="let val of vendorSelecton" [value]="val.vendorObjId">
                  {{val.companyname}}({{val.vendorId}})
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>subtitles</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">IFSC Code</mat-label>
              <input matInput placeholder="Enter IFSC Code" formControlName="ifscCode" maxlength="10" class="fontBold">
              <mat-icon matSuffix>accessibility</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Pan Number</mat-label>
              <input matInput placeholder="Enter Pan Number" formControlName="panNumber" maxlength="13"
                class="fontBold">
              <mat-icon matSuffix>pages</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Region</mat-label>
              <mat-select formControlName="region" placeholder="Enter Region" class="fontBold">
                <mat-option *ngFor="let val of region" [value]="val.id">
                  {{val.area}} ({{val.code}})
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>near_me</mat-icon>
            </mat-form-field>

          </div>
        </div>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious *ngIf="this.displayInd">Back</button>
          <button mat-raised-button type="submit" *ngIf="fourthFormGroup.valid && this.displayInd" color="primary"
            (click)="createNewUser()">Submit</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>