table {
    width: 100%;
  }

  .example-container {
    height: 450px;
    overflow: auto;
  }

  th {
    background-color: rgb(105, 191, 231);
    font-size: 2.5vh;
  }

  td {
    background-color: rgb(210, 229, 238);
    
  }

  