<div [@routerTransition]>
  <app-page-header [heading]="'Comments'" [icon]="'fa-bar-chart-o'"></app-page-header>
  <!-- <div class="row"> -->
  <div class="col-md-12">
    <mat-toolbar>
      <mat-toolbar-row>

        <span class="example-spacer"></span>
        <div class="main">
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search" (keyup)="applyFilter($event.target.value)"
              matTooltip="Search">
          </div>
        </div>



      </mat-toolbar-row>
    </mat-toolbar>
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th class="columnWidth" mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
          <td class="columnWidth" mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <th class="columnWidth" mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL </th>
          <td class="columnWidth" mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="ph">
          <th class="columnWidth" mat-header-cell *matHeaderCellDef mat-sort-header> PH NO. </th>
          <td class="columnWidth" mat-cell *matCellDef="let element"> {{element.ph}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="comment">
          <th class="columnWidth" mat-header-cell *matHeaderCellDef> COMMENTS </th>
          <td class="columnWidth" mat-cell *matCellDef="let element"> {{element.comment}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[7, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>

    <!-- </div> -->
  </div>