/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

mat-dialog-container{
  border: 4px solid rgb(105, 191, 218);
  border-radius: 30px;
  overflow: hidden !important;
}

.mat-toolbar-multiple-rows {
    min-height: 25px !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 22px !important;
}

.mat-icon {
    
    height: 44px !important;
    
}

.overlay1 {
    position: fixed;
    width: 3000px;
    height: 100%;
    background: rgb(197, 224, 240);
    opacity: .5;
    z-index: 100;
    margin-left: -750px;
    }

    .spinner{
    width: 100px;
       height: 100px;
       position: absolute;
       top:0;
       bottom: 0;
       left: 0;
       right: 0;
       margin: auto;
       z-index: 90;
      opacity: 10;
       
      }
      
      .mat-progress-spinner circle, .mat-spinner circle {
       stroke: #69bcec;
       }

       .product-card{
        border: 5px solid rgb(230, 201, 201) !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
      }

    .img {
        width: 40% !important;
        height: 25% !important;
       }
       .imgDiv {
        text-align: -webkit-center !important;
       }

       .space {
        flex: 1 1 auto !important;
      }

      .jtext-small {
        font-size: 12px !important;
      }

      .border{
        border: 2px solid #9bc5dd !important;
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom: 4px;
        margin-top: 4px;
      }

      .fontBold{
        font-weight: bold !important;
      }

      .fileuploader{
        width:95% !important;
      }
      
      .jtext-center {
        text-align: center !important;
        font-weight: bold !important;
      }

      .addNewProduct{
        height: 100% !important;
        margin: auto;
        cursor: pointer;
        text-align: center !important;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: transparent;
      }

      .columnWidth{
        width: 20%;
      }