/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

mat-dialog-container{
  border: 4px solid rgb(105, 191, 218);
  border-radius: 30px;
  overflow: hidden !important;
}

.mat-toolbar-multiple-rows {
    min-height: 25px !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 22px !important;
}

.mat-icon {
    
    height: 44px !important;
    
}

.overlay1 {
    position: fixed;
    width: 3000px;
    height: 100%;
    background: rgb(197, 224, 240);
    opacity: .5;
    z-index: 100;
    margin-left: -750px;
    }

    .spinner{
    width: 100px;
       height: 100px;
       position: absolute;
       top:0;
       bottom: 0;
       left: 0;
       right: 0;
       margin: auto;
       z-index: 90;
      opacity: 10;
       
      }
      
      .mat-progress-spinner circle, .mat-spinner circle {
       stroke: #69bcec;
       }