<div class="overlay1" *ngIf="visible">
    <span class="spinner">
        <mat-progress-spinner mode="indeterminate" value=30></mat-progress-spinner>
    </span>
</div>
<div [@routerTransition]>
    <h2 class="text-muted"> <small>Statistics Overview</small></h2>

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <div id="chartdiv1" [style.width.%]="100" [style.height.px]="380"></div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div id="chartdiv2" [style.width.%]="100" [style.height.px]="380"></div>
        </mat-grid-tile>

    </mat-grid-list>
    <!-- <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert> -->
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>

                <app-timeline></app-timeline>

            </div>

        </div>

        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>

                <app-notification></app-notification>

            </div>


            <!-- <app-chat></app-chat> -->

        </div>

    </div>
</div>