<div class="overlay1" *ngIf="visible">
    <span class="spinner">
        <mat-progress-spinner mode="indeterminate" value=30></mat-progress-spinner>
    </span>
</div>
<div [@routerTransition]>
    <h2 class="text-muted"> <small>Statistics Overview</small></h2>

    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Demo Chart -1
                </div>
                <div class="card-body">
                    <div id="chartdiv1" [style.width.%]="100" [style.height.px]="300"></div>
                </div>

            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Demo Chart -2
                </div>
                <div class="card-body">
                    <div id="chartdiv2" [style.width.%]="100" [style.height.px]="300"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert> -->
    <hr />
    <!-- <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>

                <app-timeline></app-timeline>

            </div>

        </div>

        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>

                <app-notification></app-notification>

            </div>


            

        </div>

    </div> -->
</div>