<div class="overlay1" *ngIf="visible">
    <span class="spinner">
      <mat-progress-spinner mode="indeterminate" value=30></mat-progress-spinner>
    </span>
  </div>
<div [@routerTransition]>
    <h2 class="text-muted"> <small>Statistics Overview</small></h2>
    <div class="row">
        <!-- <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide"
                        width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div> -->
        <div class="col-md-6">
            <div id="chartdiv" [style.width.%]="100" [style.height.px]="380"></div>
        </div>
        <div class="col-md-6">
            <div id="chartdiv1" [style.width.%]="100" [style.height.px]="380"></div>
        </div>
    </div>
    <!-- <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'info'" [icon]="'fa-commenting'" [count]="26" [label]="'New Comments!'"
                (Viewevent)="ViewComment($event)"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-user-o'" [count]="12" [label]="'New Supplier!'"
                (Viewevent)="ViewComment($event)"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'"
                (Viewevent)="ViewComment($event)"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-user'" [count]="13" [label]="'New Vendors!'"
                (Viewevent)="ViewComment($event)"></app-stat>
        </div>
    </div> -->