<div mat-dialog-content>
  <mat-horizontal-stepper [linear]="this.displayInd" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Contact Details</ng-template>
        <div class="row">

          <div class="col-sm-3">
            <mat-checkbox formControlName="isSuperAdmin">Super Admin</mat-checkbox>
            <mat-checkbox formControlName="isActive">Active</mat-checkbox>
            <div class="text-left">
              <img [src]="imgURL" class="avatar img-circle img-thumbnail img" alt="name">
              <input type="file" #file class="text-left left-block file-upload" accept='image/*'
                (change)="preview(file.files)" style="width:95%">
              <span style="color:red" *ngIf="filevalid"> Please Choose File</span>
            </div>
            <hr />
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Title</mat-label>
              <mat-select formControlName="title" placeholder="Choose Title" class="fontBold">
                <mat-option *ngFor="let val of titleCollection" [value]="val.title">
                  {{val.title}}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>subtitles</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">First Name</mat-label>
              <input matInput placeholder=" Enter First Name" formControlName="firstname" maxlength="20"
                class="fontBold">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Last Name</mat-label>
              <input matInput placeholder="Enter Last Name" formControlName="lastname" maxlength="20" class="fontBold">
              <mat-icon matSuffix>person_pin</mat-icon>
            </mat-form-field>

          </div>
          <div class="col-sm-4">

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Phone Number</mat-label>
              <input matInput placeholder="Enter Phone Number" formControlName="phone" maxlength="13"
                (keypress)="numberOnly($event)" class="fontBold">
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Email</mat-label>
              <input matInput placeholder="Enter Email" formControlName="email" maxlength="25" class="fontBold">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>


            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Region</mat-label>
              <mat-select formControlName="region" placeholder="Enter Region" class="fontBold" multiple>
                <mat-option *ngFor="let val of region" [value]="val.code">
                  {{val.area}} ({{val.code}})
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>near_me</mat-icon>
            </mat-form-field>
            <div>
              <button mat-raised-button color="accent" (click)="goForward(stepper)"
                *ngIf="this.displayInd">Next</button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Bank Details</ng-template>
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Account Number</mat-label>
              <input matInput placeholder="Enter Account Number" formControlName="accountNumber" maxlength="13"
                class="fontBold" (keypress)="numberOnly($event)">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Account Type</mat-label>
              <input matInput placeholder="Enter Account Type" formControlName="accountType" maxlength="10"
                class="fontBold">
              <mat-icon matSuffix>account_tree</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Bank Name</mat-label>
              <input matInput placeholder="Enter Bank Name" formControlName="bankName" maxlength="20" class="fontBold">
              <mat-icon matSuffix>account_balance</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Branch Name</mat-label>
              <input matInput placeholder="Enter Branch Name" formControlName="branchName" maxlength="20"
                class="fontBold">
              <mat-icon matSuffix>account_box</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Account Holder Name</mat-label>
              <input matInput placeholder="Enter Account Holder Name" formControlName="holderName" maxlength="20"
                class="fontBold">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="fontBold">IFSC Code</mat-label>
              <input matInput placeholder="Enter IFSC Code" formControlName="ifscCode" maxlength="20" class="fontBold">
              <mat-icon matSuffix>accessibility</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label class="fontBold">Tax Numbaer</mat-label>
              <input matInput placeholder="Enter Tax Number" formControlName="taxNumber" maxlength="20"
                class="fontBold">
              <mat-icon matSuffix>pages</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious *ngIf="this.displayInd">Back</button>
          <button mat-raised-button type="submit" color="primary" (click)="createNewUser()"
            *ngIf="secondFormGroup.valid && this.displayInd">Submit</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>