<div class="overlay1" *ngIf="visible">
  <span class="spinner">
    <mat-progress-spinner mode="indeterminate" value=30></mat-progress-spinner>
  </span>
</div>

<div [@routerTransition]>
  <app-page-header [heading]="'Admin/Offer'" [icon]="'fa-picture-o'"></app-page-header>

  <mat-toolbar>Customer App Offers
    <span class="space"> </span>
    <button mat-icon-button color="primary" aria-label="Add new Ads" matTooltip="Add new Offer">
      <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="newAds()">add_box</mat-icon>
    </button>
  </mat-toolbar>
  <div class="mt-7 mb-10 ml-5 mr-5" fxLayout="row wrap" flex-wrap fxLayout.xs="row wrap" fxLayoutWrap fxLayoutGap="0.5%"
    fxLayoutAlign="left">
    <div fxFlex="19.5%" style="border: 2px solid rgb(148, 192, 218) !important;" *ngFor="let val of OfferCollection">
      <h6 class="jtext-center"> {{val.name}} ({{val.description}}) </h6>
      <div>F
        <!-- <img src="{{val.path}}" alt="Offer" height="80" width="200" class="avatar img-circle img-thumbnail"> -->
      </div>
      <p style="font-size: 10px;">
        From Date :{{val.fromDate}} <br />
        Valid Duration :{{val.validDuration}} <br />
        Type :{{val.type}} <br />
        Percentage :{{val.percentage}} &nbsp; &nbsp; Amount :{{val.amount}}
      </p>

      <div>
        <button mat-button color="primary" class="jtext-left">
          <mat-icon (click)="editAds(val)">edit</mat-icon>
        </button>
        <button mat-button color="primary" class="jtext-right">
          <mat-icon (click)="deleteAds(val)">delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>