<div class="overlay1" *ngIf="visible">
  <span class="spinner">
    <mat-progress-spinner mode="indeterminate" value=30></mat-progress-spinner>
  </span>
</div>

<div [@routerTransition]>
  <app-page-header [heading]="'Admin/Offer'" [icon]="'fa-file-image-o'"></app-page-header>

  <mat-toolbar>Customer App Offers
    <span class="space"> </span>
    <button mat-icon-button color="primary" aria-label="Add new Ads" matTooltip="Add new Offer">
      <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="newOffer()">add_box</mat-icon>
    </button>
  </mat-toolbar>
 
  <div class="row">
    <div class="col-sm-4" *ngFor="let val of OfferCollection">
      <div class="card text-white bg-info mb-3">
        <div class="card-header">{{val.name}}</div>

        <div class="card-body">
          <p style="width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis" matTooltip="{{val.description}}">
            {{val.description}}
          </p>
          <div class="row">
            <div class="col-sm-6 jtext-small">
              From Date :{{val.fromDate}}
            </div>
            <div class="col-sm-6 jtext-small">
              Valid Duration :{{val.validDuration}}
            </div>
            <div class="col-sm-6 jtext-small">
              Type :{{val.type}}
            </div>
            <div class="col-sm-6 jtext-small">
              Percentage :{{val.percentage}}
            </div>
            <div class="col-sm-6 jtext-small">
              Amount :{{val.amount}}
            </div>
          </div>
        </div>
        <div class="row">
          <button mat-button color="primary" (click)="editOffers(val)" class="col text-left">
            Edit
          </button>
          <button mat-button color="primary" (click)="deleteOffers(val)" class="col text-right">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>