<div mat-dialog-content>
  <div class="row">
    <!-- <div class="col-sm-3">
      <form>

        <div class="text-left">
          <mat-slide-toggle color="Primary" [checked]="this.Active" (change)="toggeleActive($event)"
            labelPosition="before" matTooltip="Active">
            Active
          </mat-slide-toggle>
          <hr />

          <img src="../assets/images/avtar.png" class="avatar img-circle img-thumbnail" alt="avatar"
            *ngIf="!imgProductUrl" height="150" width="150">
          <img [src]="imgProductUrl" class="avatar img-circle img-thumbnail" alt="name" *ngIf="imgProductUrl">
          <h6 *ngIf="!imgProductUrl">Upload Offer Photo...</h6>
          <input type="file" #file class="text-left left-block file-upload" accept='image/*'
            (change)="preview(file.files)" style="width:95%" >
          <span style="color:red" *ngIf="filevalid"> Please Choose File</span>

          <hr />         
        </div>

      </form>
    </div> -->
    <div class="col-sm-12">
      <form class="form-inline" [formGroup]="newUserForm">
        <div class="col-sm-4">

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Offer Name</mat-label>
            <input matInput placeholder=" Enter Product Name" formControlName="name" maxlength="20"
              style="font-weight: bold">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Offer Description</mat-label>
            <input matInput placeholder="Enter Product Description" formControlName="description" maxlength="50"
              style="font-weight: bold">
            <mat-icon matSuffix>person_pin</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Coupon Code</mat-label>
            <input matInput placeholder="Enter Offer Url" formControlName="couponCode" maxlength="50"
              style="font-weight: bold">
            <mat-icon matSuffix>person_pin</mat-icon>
          </mat-form-field>

        </div>
        <div class="col-sm-4">

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Percentage</mat-label>
            <input matInput placeholder="Enter Percentage" formControlName="percentage" maxlength="6"
              style="font-weight: bold" type="number">
            <mat-icon matSuffix>pages</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Amount</mat-label>
            <input matInput placeholder="Enter Amount" formControlName="amount" maxlength="6" style="font-weight: bold"
              type="number">
            <mat-icon matSuffix>pages</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Customers</mat-label>
            <input matInput placeholder="Enter Offer" formControlName="customer" maxlength="25"
              style="font-weight: bold">
            <mat-icon matSuffix>pages</mat-icon>
          </mat-form-field>



        </div>

        <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Type</mat-label>
            <mat-select formControlName="type" placeholder="Enter type" style="font-weight: bold">
              <mat-option *ngFor="let val of offerType" [value]="val.type">
                {{val.type}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>account_tree</mat-icon>
          </mat-form-field>

          <mat-form-field color="primary" appearance="outline">
            <mat-label>Valid From</mat-label>
            <input matInput [matDatepicker]="picker1" readonly style="font-weight: bold" formControlName="fromDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 disabled="false"></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label style="font-weight: bold">Valid Duration</mat-label>
            <input matInput placeholder="Enter Valid Duration" formControlName="validDuration" maxlength="6"
              style="font-weight: bold" type="number">
            <mat-icon matSuffix>pages</mat-icon>
          </mat-form-field>
        </div>

      </form>
    </div>
  </div>
</div>
<mat-dialog-actions>
  <div class="navbar-nav ml-auto">
    <span>
      <button class="btn btn-success" type="submit" matTooltip="Save" (click)="createAds()">
        Save</button> &nbsp; &nbsp;
      <button class="btn btn-success" type="submit" matTooltip="Save" (click)="CancelPage()">
        Cancel</button> &nbsp; &nbsp;
    </span>
  </div>
</mat-dialog-actions>