<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Healthy Water</h1>
            <form role="form" [formGroup]="forgotPasswordForm">
                <div class="form-content">
                    <!-- <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="{{ 'Full Name' | translate }}">
                    </div> -->
                    <div class="form-group">
                        <input type="text" ng-model="name" formControlName="email"
                            class="form-control input-underline input-lg" placeholder="{{ 'Email' | translate }}">
                    </div>

                </div>
                <a class="btn rounded-btn" (click)="onChangePassword()">Change Password Request</a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">Cancel</a>
            </form>
        </div>
    </div>
</div>