<div class="overlay1" *ngIf="visible">
  <span class="spinner">
    <mat-progress-spinner mode="indeterminate" value=30></mat-progress-spinner>
  </span>
</div>

<div [@routerTransition]>
  <app-page-header [heading]="'MasterData/Delivery Commission'" [icon]="'fa-hand-lizard-o'"></app-page-header>
  <mat-toolbar> Delivery Commission Request
    <span class="space"> </span>
    <button mat-icon-button color="primary" aria-label="Add New Delivery Commission" matTooltip="Add New Delivery Commission">
      <mat-icon  (click)="newDeliveryCom()">add_box</mat-icon>
    </button>
  </mat-toolbar>

</div>