<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item"
            matTooltip="Dashboard">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>Dashboard</span>
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item"
            matTooltip="Vendor">
            <i class="fa fa-fw fa-user"></i>&nbsp;
            <span>Vendor</span>
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item"
            matTooltip="Customer">
            <i class="fa fa-fw fa-users"></i>&nbsp;
            <span>Customer</span>
        </a>
        <a [routerLink]="['/supplier']" [routerLinkActive]="['router-link-active']" class="list-group-item"
            matTooltip="Supplier">
            <i class="fa fa-fw fa-motorcycle"></i>&nbsp;
            <span>Delivary Partner</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item"
            matTooltip="Orders">
            <i class="fa fa-fw fa-shopping-cart"></i>&nbsp;
            <span>Orders</span>
        </a>
        <div class="nested-menu" *ngIf="this.isAdmin">
            <a class="list-group-item" (click)="addExpandClass('adminControl')" matTooltip="Admin Controls">
                <i class="fa fa-th-list"></i>&nbsp;
                <span>Admin Controls</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'adminControl'">
                <ul class="submenu">
                    <li>
                        <a class="list-group-item" [routerLink]="['/admin']" [routerLinkActive]="['router-link-active']"
                            matTooltip="Admin">
                            <i class="fa fa-fw fa-user-o"></i>&nbsp;
                            <span>Admin</span>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" [routerLink]="['/area']" [routerLinkActive]="['router-link-active']"
                            matTooltip="Region Details">
                            <i class="fa fa-fw fa-book"></i>&nbsp;
                            <span>Region Details</span>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" [routerLink]="['/ads']" [routerLinkActive]="['router-link-active']"
                            matTooltip="Ads">
                            <i class="fa fa-fw fa-picture-o"></i>&nbsp;
                            <span>Ads</span>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" [routerLink]="['/offer']" [routerLinkActive]="['router-link-active']"
                            matTooltip="Offers">
                            <i class="fa fa-fw fa-file-image-o"></i>&nbsp;
                            <span>Offers</span>
                        </a>
                    </li>

                </ul>
            </li>
        </div>

        <div class="nested-menu" *ngIf="this.isAdmin">
            <a class="list-group-item" (click)="addExpandClass('masterdata')" matTooltip="Master Data">
                <i class="fa fa-database"></i>&nbsp;
                <span>Master Data</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'masterdata'">
                <ul class="submenu">
                    <li>
                        <a class="list-group-item" [routerLink]="['/delivery-charges']"
                            [routerLinkActive]="['router-link-active']" matTooltip="Delivery Charges Request">
                            <i class="fa fa-fw fa-leaf"></i>&nbsp;
                            <span>Delivery Charges Request</span>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" [routerLink]="['/delivery-commission']"
                            [routerLinkActive]="['router-link-active']" matTooltip="Delivery Commission Request">
                            <i class="fa fa-fw fa-hand-lizard-o"></i>&nbsp;
                            <span>Delivery Commission Request</span>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" [routerLink]="['/dispenser']"
                            [routerLinkActive]="['router-link-active']" matTooltip="Dispenser Request">
                            <i class="fa fa-fw fa-building"></i>&nbsp;
                            <span>Dispenser Request</span>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" [routerLink]="['/tax']" [routerLinkActive]="['router-link-active']"
                            matTooltip="Tax Request">
                            <i class="fa fa-fw fa-briefcase"></i>&nbsp;
                            <span>Tax Request</span>
                        </a>
                    </li>

                </ul>
            </li>
        </div>

        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-fw fa-user-o"></i>&nbsp; {{this.profileName}}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>


    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()" matTooltip="Collapse">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>Collapse</span>
    </div>
</nav>