<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>Dashboard</span>
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user-o"></i>&nbsp;
            <span>Vendor</span>
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>&nbsp;
            <span>Customer</span>
        </a>
        <a [routerLink]="['/supplier']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user-o"></i>&nbsp;
            <span>Supplier</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user-o"></i>&nbsp;
            <span>Orders</span>
        </a>

        <div class="header-fields">
               
                
                <div class="nested-menu">
                    <a class="list-group-item" (click)="addExpandClass('profile')">
                        <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                    </a>
                    <li class="nested" [class.expand]="showMenu === 'profile'">
                        <ul class="submenu">
                            <li>
                                <a href="javascript:void(0)">
                                    <span><i class="fa fa-fw fa-user"></i> Profile</span>
                                </a>
                            </li>
                            
                            
                            <li>
                                <a [routerLink]="['/login']" (click)="onLoggedout()">
                                    <span><i class="fa fa-fw fa-power-off"></i> Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>


    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>Collapse</span>
    </div>
</nav>