<div class="overlay1" *ngIf="visible">
  <span class="spinner">
    <mat-progress-spinner mode="indeterminate" value=30></mat-progress-spinner>
  </span>
</div>

<div [@routerTransition]>
  <app-page-header [heading]="'Admin/Ads'" [icon]="'fa-picture-o'"></app-page-header>

  <mat-toolbar>Customer App Ads
    <span class="space"> </span>
    <button mat-icon-button color="primary" aria-label="Add new Ads" matTooltip="Add new Ads">
      <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="newAds()">add_box</mat-icon>
    </button>
  </mat-toolbar>
  <!-- <div class="mt-7 mb-10 ml-5 mr-5" fxLayout="row wrap" flex-wrap fxLayout.xs="row wrap" fxLayoutWrap fxLayoutGap="0.5%"
    fxLayoutAlign="left">
    <div fxFlex="19.5%" class="border" *ngFor="let val of AdsCollection">
      <h6 class="jtext-center"> {{val.name}} ({{val.description}}) </h6>
      <div>
        <img src="{{val.path}}" alt="Ads" height="80" width="200" class="avatar img-circle img-thumbnail">
      </div>
      <p style="font-size: 10px;">
        From Date :{{val.fromDate}} <br />
        To Date :{{val.toDate}} <br />
        Interval :{{val.interval}} &nbsp; &nbsp; Type :{{val.type}}
      </p>

      <div>
        <button mat-button color="primary" class="jtext-left">
          <mat-icon (click)="editAds(val)">edit</mat-icon>
        </button>
        <button mat-button color="primary" class="jtext-right">
          <mat-icon (click)="deleteAds(val)">delete</mat-icon>
        </button>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-4" *ngFor="let val of AdsCollection">
      <div class="card text-white bg-info mb-3">
        <div class="card-header">
          <div class="row">
            <div> {{val.name}}</div>
           <span class="space"></span>
            <mat-chip-list>
              <mat-chip color="{{val.isActive?'primary':'warn'}}" selected>{{val.isActive?"Active":"InActive"}}</mat-chip>
            </mat-chip-list>
          </div>

        </div>
        <div class="imgDiv">
          <img src="{{val.path}}" alt="Ads" class="img-thumbnail img">
        </div>
        <div class="card-body">
          <p style="width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis"  matTooltip="{{val.description}}">
            {{val.description}}
          </p>
          <div class="row">
            <div class="col-sm-6 jtext-small">
              From Date :{{val.fromDate}}
            </div>
            <div class="col-sm-6 jtext-small">
              To Date :{{val.toDate}}
            </div>
            <div class="col-sm-6 jtext-small">
              Interval :{{val.interval}}
            </div>
            <div class="col-sm-6 jtext-small">
              Type :{{val.type}}
            </div>
          </div>
        </div>
        <div class="row">
          <mat-icon mat-button color="primary" (click)="editAds(val)" class="col text-center curserAction">
            edit
          </mat-icon>
          <mat-icon mat-button color="primary" (click)="deleteAds(val)" class="col text-center curserAction">
            delete
          </mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>